.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.98);
  border-bottom: 0.2px solid rgb(244, 244, 244);
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
  margin-right: 150px;
}

.hamburger-menu {
  height: 30px;
  width: 30px;
  margin: 0 20px 0 20px;
}
.hamburger-menu:hover {
  height: 30px;
  width: 30px;
  padding: 8px;
  margin: 0 12px 0 12px;
  cursor: pointer;
  border-radius: 30px;
  background-color: rgb(234, 234, 234);
}
.youtube-logo {
  height: 100px;
  width: 100px;
}

.middle-section {
  margin-right: 80px;
  flex: 1;
  max-width: 600px;
  min-width: none;
  display: flex;
  align-items: center;
}

.search-box {
  font-size: 20px;
  text-align: justify;
  border: 1px solid rgb(203, 203, 203);
  padding: 8px;
  flex: 1;
  width: 0;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  /* box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.15); */
}
.search-box:focus {
  padding-left: 7px;
  border: none;
  outline-color: rgb(203, 203, 203);
}
.search-box::placeholder {
  padding-left: 7px;
}

.search {
  height: 40px;
  border: 1px solid rgb(203, 203, 203);
  width: 66px;
  background-color: rgb(252, 252, 252);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  /* margin-right: -10px; */
  cursor: pointer;
}
.search img {
  vertical-align: middle;
  width: 25px;
}
.voice-search-icon {
  display: flex;
  justify-content: center;
  height: 40px;
  border: 1px solid rgb(237, 237, 237);
  position: relative;
  width: 40px;
  background-color: rgb(239, 239, 239);
  margin: 0 20px 0 20px;
  border-radius: 20px;
  cursor: pointer;
}
.uploads,
.apps,
.notifications {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: white;
  border: none;
}
.search .tooltip,
.voice-search-icon .tooltip,
.uploads .tooltip,
.apps .tooltip,
.notifications .tooltip {
  position: absolute;
  bottom: -28px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  white-space: nowrap;
}
.search:hover .tooltip,
.voice-search-icon:hover .tooltip,
.uploads:hover .tooltip,
.apps:hover .tooltip,
.notifications:hover .tooltip {
  opacity: 1;
}

.voice-search-icon img {
  vertical-align: middle;
  width: 25px;
}

.right-section {
  display: flex;
  align-items: center;
  width: 200px;
  flex-shrink: 0;
  justify-content: space-between;
  margin-right: 20px;
}

.uploads img,
.apps img,
.notifications img {
  height: 30px;
  width: 25px;
}

.notification-number {
  position: absolute;
  top: 0.5px;
  right: 0px;
  background-color: rgb(197, 0, 0);
  color: white;
  border: 0.5px solid white;
  padding: 3px 6px 3px 6px;
  border-radius: 20px;
  font-size: 10px;
}

.pp {
  background-color: white;
  border: none;
}
.pp img {
  height: 40px;
  width: 40px;
  border-radius: 30px;
}