.thumbnail {
  width: 100%;
  border-radius: 15px;
}
.video-title {
  font-weight: bold;
  font-size: 15px;
  /* lets you to only allow that much amount of text on a single line */
  width: 100%;
  line-height: 26px;
  margin-bottom: 2px;
}
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.channel-desc {
  width: 100%;
}
.logo {
  width: 40px;
  border-radius: 20px;
}
.thumbnail-content {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 50px 1fr;
}
.grid-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 20px;
}
@media (max-width: 1000px) {
  .grid-info {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .grid-info {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1200px) {
  .grid-info {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.thumbnail-pic {
  position: relative;
}
.timings {
  font-size: 12px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  bottom: 13px;
  right: 9px;
  padding: 3px 5px 3px 5px;
  border-radius: 4px;
}
